{{#extend "body"}}

<div class="main-container">
    <h1>{{title}}</h1>
    <p>Welcome to the great: {{title}}</p>
    <div class="container-row">
        <div class="list-container">
            <h1 id="testing">Shops</h1>
            <form method="POST" action="/shops/add">
                <fieldset>
                    <legend>New Shop</legend>
                    <input type="text" placeholder="name of shop" name="name">
                    <input type="submit" value="add">
                </fieldset>
            </form>
            <hr>
            <ul>
                {{#each shops}}
                <li><a href="/shops/{{this._id}}">{{this.name}}</a></br><span>ID:{{this._id}}</span></li>
                {{/each}}
            </ul>
        </div>
        <div class="list-container">
            <h1>Items</h1>
            <form method="POST" action="/items/add">
                <fieldset>
                    <legend>New Item</legend>
                    <input type="text" placeholder="item name" name="name">
                    <input type="number" placeholder="price in pence please." name="price">
                    <input type="text" placeholder="shop id" name="shopid">
                    <textarea name="description"
                        placeholder="Item Description... if you can be bothered to add one that is lmao"></textarea>
                    <input type="submit" value="add">
                </fieldset>
            </form>
            <hr>
            <ul>
                {{#each items}}
                <li>
                    <a href="/items/?id={{this._id}}">{{this.name}}</a>
                    <button class="addtobasketbutton" value="{{this._id}}"
                        onclick="add_or_remove_2basket('{{this._id}}', 1)">{{iteminbasket this._id}} : Add</button>
                    <button class="addtobasketbutton" value="{{this._id}}"
                        onclick="add_or_remove_2basket('{{this._id}}', -1)">Remove 1</button>
                </li>
                <p>{{convertPrice this.price}}</p>
                {{/each}}
            </ul>
        </div>
    </div>
</div>

<script>

    function add_or_remove_2basket(item_id, amount) {
        console.log(item_id, amount);
        $.post("/users/add2basket", { itemid: item_id, amount: amount }, function (data) {
            if (data.success) {
                //item was added to basket.
                console.log(data);
            } else {

            }
        });
    }
</script>

{{/extend}}