<!DOCTYPE html>
<html>

<head>
  <!-- Meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {{!--
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"> --}}
  <!-- CSS -->
  <link rel='stylesheet' href='/stylesheets/style.css' />
  {{{block "stylesheets"}}}

  {{{block "head"}}}

  <title>{{title}}</title>
</head>

<body>
  {{{block "navbar"}}}

  {{{block "body"}}}

  {{{block "footer"}}}
</body>

</html>